/**********************/
/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/**********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********************/
/* main page styles */

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* header styles */

header {
  background-color: #0082D3;
  padding: 40px;
  text-align: center;
  color: #EDEDF4;
}

header h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

header h2 {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: lowercase;
}

/* main content styles */

.container {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto;
}

.container p {
  line-height: 1.4em;
  font-size: 1.1em;
  font-weight: 300;
  color: #69696A;
  max-width: 675px;
}

.container h2 {
  color: #0082D3;
  font-size: 1.6em;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* main button styles */
.container .button {
  color: white;
  background-color: #00BC6D;
  border-radius: 4px;
  padding: 14px 24px;
  display: inline-block;
  margin-top: 30px;
}

a.button {
  text-decoration: none;
  font-size: 1.1em;
}
